@import './transition.scss';

body{
  height: 100%;
  
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
html{
  height: 100%;
  box-sizing: border-box;
}
html,body,p{
  margin: 0;
  padding: 0;
}
.page {
  .custom-tab {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 42px;
    background-color: #fff;
    line-height: 52px;
    height: 53px;
    border-radius: 8px 8px 0 0;
    &::after {
      content: "";
      position: absolute;
      left: 12px;
      right: 12px;
      bottom: 0;
      height: 1px;
      background-color: #e6e6e6;
    }
    .tab-item {
      position: relative;
      font-size: 14px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #585858;
      min-width: 85px;
      text-align: center;
      height: 53px;
      cursor: pointer;
      &.active {
        border-bottom: 3px solid #0084ff;
      }
    }
  }
  .custom-ul {
    background-color: #fff;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 23px 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      // padding: 23px 35px 28px 28px;
      padding: 0 23px;
      margin: 23px 0 0 0;
      cursor: pointer;
      font-size: 14px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #585858;

      img {
        width: 56px;
        height: 56px;
      }
    }
  
  }
}